.container { 
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
}

.sub-container1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.uxuiskills{
    display: flex;
    flex-direction: column;
    width: 59%;
    padding:5px;

}
.uxuiskillsbigpic{
    width: 39%;
    padding:5px;

}
.uxuiskillsbigpic{
    height: 600px;
    width: 100%;
}
.uxuitext{
    height:50%;
    width:100%;
   font-family: bebas-neue-by-fontfabric,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:60px;
    color:#202020
}
.jimqoute{
    font-family: bebas-neue-by-fontfabric,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #D194D6;
    font-size: 25px;
    height: 50%;
    width:100%;
}

.sub-container2{
    display: flex;
    flex-direction:column;

}
.aboutpics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutpics img {
    height:300px;
    margin:5px;
    width:300px;
}

.spacer {
    flex: auto 1 1;
}

.pad {
    padding: 5px;
}

.marks2{
    float: right;
}

.widther {
    width: 100%;
}

@media only screen and (max-width: 1020px) {
    .uxuitext{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding:5px;
        border: 1px solid black;
    }
    .uxuiskills{
        width: 100%;
        padding:5px;
    
    }

    .uxuiskillsbigpic{
        height: 600px;
        width: 550px;
    }
}

@media only screen and (max-width: 720px) {

